* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 800px;
}

div {
    margin: 100px auto;
    width: 100px;
    height: 100px;
    background-color:whitesmoke;
    box-shadow: 5px 6px 15px 10px gray;
}


h1 {
    text-shadow: 5px 6px 15px gray;
}
